.App1 {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
  background: #392767;
  min-height: 100vh;
  color: #e5daff;
}

h1 {
  margin-bottom: 50px;
}

input {
  text-align: center;
  background: #d2c0fd;
  color: #2a1263;
}

input:first-child {
  margin-right: 20px;
}

button {
  padding: 30px 40px;
  font-size: 30px;
  border-radius: 20px 40px;
  background: #5f30e6;
  border: none;
  margin-bottom: 50px;
  color: #d7cbf7;
  cursor: pointer;
}
